/* 
    Document   : mycss
    Created on : May 9, 2012, 3:09:53 PM
    Author     : zxu
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.zen .center{
    margin-left: auto;
    margin-right: auto;
}

.zen .actor{
    color: #015BA7;
    font-weight: bold;
}
